<div id="aboutsection"></div>
<div class="spacer">   
</div>
<div id="about" class="parallax-container valign-wrapper deep-orange center">

    <div class="section no-pad-bot">

        <div class="container">
            <h4>About Us</h4>
            <div class="row center">
                <h5 class="header col s12 light">We are an independent software consultancy with experience in various industries from Finance, Oil and Gas, Space and Defence, Video Gaming and Payments.</h5>
                <h5 class="header col s12 light">Our aim is to deliver value first time and go the extra mile to meet our customers expectations.</h5>
            </div>
        </div>
    </div>
</div>
