<div class="container">
    <div id="contact" class="section">
        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4>Contact Us</h4>
                <p>Please get in touch and see how our support team can help you</p>                
                <div class="center-align">Reading</div>
                <div>United Kingdom</div>
                <div>Email: contact@cohesos.com</div>
            </div>
        </div>
    </div>
</div>
