<footer class="page-footer background black">
    <div class="container center">
        &copy; Cohesos Limited @DateTime.Now.Year
    </div>
    <div class="footer-copyright">
        <div class="container center">
            <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
        </div>
    </div>
</footer>
