<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12">Helping Software Development Teams and Organisations to be better</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="~/img/blurred_bk.jpg" alt=""></div>
</div>
