<div id="services"></div>
<br />
<br />
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center black-text"><i class="material-icons">filter_drama</i></h2>
                    <h5 class="center">Microsoft Azure</h5>
                    <p class="light">We can help you utilise the power of Microsoft Azure and its benefits to help your organisation to reduce maintenance cost and deliver software faster to market. With our experience we can take your current systems and train your development teams on a journey to do much more …</p>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center black-text"><i class="material-icons">security</i></h2>
                    <h5 class="center">Security</h5>
                    <p class="light">Offer consultancy services in full end to Secure SDLC, OWASP awareness and full stack .Net secure code reviews and audits. We understand the common security pitfalls in ASP.Net development.</p>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center black-text"><i class="material-icons">build</i></h2>
                    <h5 class="center">.NET full-stack Development</h5>
                    <p class="light">We specialise in full-stack .Net solutions including web, mobile, office plugins and desktop. We write clean code, fully maintainable unit/integration test packs and follow Microsoft best practices to solve our customers difficult problems.</p>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center black-text"><i class="material-icons">business</i></h2>
                    <h5 class="center">Architecture</h5>
                    <p class="light">We recognise the importance of architecting innovative solutions that are flexible, maintainable and testable. To ensure we meet our customers business demands and strategic goals. </p>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center black-text"><i class="material-icons">settings</i></h2>
                    <h5 class="center">Automated Testing</h5>
                    <p class="light">We encourage all developers to write test first code using TDD techniques. Writing maintainable test packs are crucial to ensure applications are working as expected. We also experienced in writing web automated acceptance test packs using Selenium and Specflow.</p>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center black-text"><i class="material-icons">group</i></h2>
                    <h5 class="center">Careers Advice</h5>
                    <p class="light">Are you a new IT graduate, experienced developer or tester that needs advice on next career steps or on how to improve your skillset, if so then contact us today.</p>
                </div>
            </div>
        </div>
    </div>
</div>
