<div class="center-align">
    <img src="~/img/medium-res.png" class="cohesos_logo" />
</div>
<div class="carousel carousel-slider center city">
    <div class="carousel-item  white-text" href="#one!">
        <h3 class="white-text"><b>A Software Consultancy</b></h3>
        <p>Helping organisations to optimise their solutions, processes and delivery.</p>
    </div>
    <div class="carousel-item white-text" href="#two!">
        <h3>Collaboration</h3>
        <p class="white-text">Increased through DevOps and SecOps</p>
        <p>Working closely with our customers making them achieve their goals and ambition.</p>

    </div>
    <div class="carousel-item white-text" href="#three!">
        <h3>Build Top Quality Software</h3>
        <p class="white-text">Training development teams the importance of SOLID principles, Test Driven Development and Low Coupling and High Cohesion.</p>

    </div>
    <div class="carousel-item white-text" href="#four!">
        <h3>Deliver Software Faster</h3>
        <p class="white-text">Helping teams to continuously deliver working software features through continuous delivery and integration build and test pipelines.</p>
    </div>   
</div>

